# Ignored Files:

*.o
*.out
*.a
*~
*.
*-blx.*
*-converted-to.*
*.acn
*.acr
*.aux
*.backup
*.bak
*.bbl
*.bcf
*.blg
*.brf
*.cb
*.cb2
*.dvi
*.fdb_latexmk
*.fls
*.fmt
*.fot
*.glg
*.glo
*.gls
*.glsdefs
*.idx
*.ilg
*.ind
*.ist
*.lo*
*.nav
*.out
*.pdfsync
*.pre
*.ps
*.run.xml
*.sav
*.snm
*.synctex*
*.toc
*.vrb
*.svg

# Ignored Folders:


